body {
  background: #fafafa;
  color: #333333;
  margin-top: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #34add1;
  font-family: "Amatic SC", cursive;
}

ul {
  margin: 0;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.bg-steel {
  background-color: #ffffff;
}

.jumping-card:hover {
  transform: translate(0, -20px);
  cursor: pointer;
  border: 3px solid #dddddd;
  border-radius: 3px;
}

.card-img-top {
  display: block;
  max-width: 5rem;
  justify-content: center;
  padding-top: 1rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.form-contact {
margin-top: 2rem;
}


.homepage-header {
  background-image: url("../../../media/ice-2065622_1920.jpg");
  background-size: cover;
  font-size: larger;
  font-weight: bolder;
  height: 20rem;
  vertical-align: middle;
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 5%;
}

.homepage-text-1 {
  font-family: "Amatic SC", cursive;
  font-size: x-large;
  text-align: justify;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #648493;
  border-radius: 5%;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.homepage-text {
  font-family: "Amatic SC", cursive;
  font-size: x-large;
  text-align: justify;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #648493;
  border-radius: 5%;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.homepage-text .card-img-top {
  display: inline-block;
  max-width: 6rem;
  justify-content: center;
  padding-top: 1rem;
}

.realisations{
  background-color: #92b7c93b;
  border-radius: 2%;
  box-shadow: 3px #648493;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  font-family: "Amatic SC", cursive;
  font-size: x-large;
}

.realisations h1{
  justify-content: center;
}

.realisations img{
  border: 3px solid #648493;
}



.red {
  background-color: #34add1; 
  color: white;
  font-weight: bolder;
  border-radius: 50px;
}

.slogan {
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  vertical-align: middle;
  font-size: xx-large;
  font-family: "Satisfy", cursive;
}

.site-font{
  color: #648493;
  font-family: "Amatic SC", cursive;
  font-size: x-large;
}

.site-header .navbar-nav .nav-link {
  color: #648493;
  font-family: "Amatic SC", cursive;
  font-size: x-large;
}

.site-header img {
  max-width: 50%;
  height: auto;
}

.site-header .navbar-nav .nav-link:hover {
  color: #000000;
  font-size: xx-large;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
