{% extends "blog/base.html" %}
{% block content %}


<h1>Accueil Jer</h1>
<h1>A mon avis utilise cette page comme stock de texte et fais tes mises en page sur ton accueil</h1>
<h2> Heureux celui qui sait prendre son temps pour aller plus vite (proverbe Inuit)</h2>
<h2> Nous aimons que nos clients soient contents de nos prestations, nous avons donc comme 
principe de nous engager uniquement sur des projets ou nous sommes surs que:
- le client a les moyens de ses ambitions
- le client a une vision claire du site qu'il achète
- nous avons les ressources nécessaires pour livrer en temps et en heure le site.

Nous sommes convaincus que ceci est la meilleure façon de procéder pour garantir des clients
satisfaits et un business florissant.



</h2>

<h2>
Nous mettons nos connaissances, expériences et savoir faire à votre service pour créer
des sites webs simples, évolutifs, efficaces et adaptés à vos besoins.
Chacun sait que la réalisation d'un site web n'est pas simple, souvent onéreuse et parfois 
non conforme à vos attentes.
Bien conscients de ces problématiques et forts de nos expériences dans la mise en place et
le suivi de différents projets nous sommes à votre écoute pour réaliser votre site web.
Nos sites sont bien évidement adaptés à la consultation sur tablette, smartphone ou PC, peuvent être 
composés par exemple d'une partie vitrine et d'une partie blog sur laquelle vous pourrez intervenir pour créer 
du contenu.
</h2>


{% endblock content %}
