{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <link rel="icon" href="../../../media/favicon/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <!-- Font family import  -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Kalam&family=Satisfy&family=Chilanka&display=swap">
    {% if title %}
    <title>Romartlou.fr - {{ title }}</title>
    {% else %}
    <title>Romartlou.fr</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'accueil' %}"><img
              src="../../../media/logo-site/logo-site.png" alt="Not found
              image"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggle" aria-controls="navbarToggle"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'accueil' %}">Accueil</a>
              <a class="nav-item nav-link" href="{% url 'nos-services' %}">Nos
                services</a>
              <a class="nav-item nav-link" href="{% url 'realisations' %}">Réalisations</a>
              <a class="nav-item nav-link" href="{% url 'contact' %}">Demande
                de devis</a>

            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div style="margin-top: 8rem;">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="footer" style="margin-top: 10px; padding-top: 20px ; padding-bottom: 20px">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-services">
            <h3>Nos services</h3>
            <div class="list-services">
              <a href="{% url 'nos-services' %}">Hébergement</a><br>
              <a href="{% url 'nos-services' %}">Nom de domaines</a><br>
              <a href="{% url 'nos-services' %}">Site Vitrine</a><br>
              <a href="{% url 'nos-services' %}">Hébergement</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-copyright">
            <h3>Romartlou.fr - 2020</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-contact">
            <h3>Restons en contact</h3>
            06-68-16-80-07 <br>
            06-68-16-80-07 <br>
            <a href="{% url 'contact' %}">contact@romartlou.fr</a> <br>
          <a href="https://www.facebook.com/romartlou"><img src="../../../media/images/facebook.png" 
            alt="" style="max-width: 40px; padding-right: 10px;">   Romartlou</a>  <!-- Put the link here -->
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
