{% extends "blog/base.html" %}
{% block content %}

<div class="row homepage-header justify-content-md-center">
    <div class="col-md-auto justify-content-md-center">
        <p class="slogan">
            Heureux celui qui sait prendre son temps pour aller plus vite.
        </p>
    </div>
</div>


<div class="row homepage-text-1" style="margin-top: 23rem; margin-bottom: 5rem;">
    <div class="col-12">
        <br>
        <p>Afin de nous assurer de la satisfaction de nos clients, nous
            avons pour principe de nous engager uniquement sur des projets
            pour lesquels nous sommes convaincus que: <br><br>
        </div>


        <div class="card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" style="max-width: 18rem;">
            <img src="../../../media/homepage/money.png"
                class="card-img-top mx-auto"
                alt="...">
            <div class="card-body">
                <p class="card-text ">Le client a les moyens de ses ambitions</p>
            </div>
        </div>
        <div class="card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center"style="max-width: 18rem;">
            <img src="../../../media/homepage/199063.png"
                class="card-img-top mx-auto"
                alt="...">
            <div class="card-body">
                <p class="card-text">Le client a une vision claire du site
                    qu'il
                    achète</p>
            </div>
        </div>
        <div class="card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" style="max-width: 18rem;">
            <img src="../../../media/homepage/tools.png"
                class="card-img-top mx-auto"
                alt="...">
            <div class="card-body">
                <p class="card-text">Nous avons les ressources nécessaires
                    pour
                    livrer en temps et en
                    heure le site</p>
            </div>
        </div>
        <p><br> Pour nous, ceci est la meilleure façon de procéder
            pour garantir des clients heureux et un business florissant.</p>
    </div>

    

    
</div>

<div class="row homepage-text-2" style="margin-bottom: 5rem;">
    <div class="col-12 text-center">
        <br>
        <p>Nous mettons nos connaissances, expériences et savoir faire à votre service pour créer des sites avec les caratéristiques suivantes <br><br>
        </div>


        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/easy.png"
                class="mx-auto"
                alt="..."
                style="min-width:150px; max-width: 10rem;">
                <p>Simples</p>
        </div>
       
        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/change.png"
                class="mx-auto"
                alt="..."
                style="max-width: 10rem;">
                <p>Evolutifs</p>
        </div>
        
        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/personalized.png"
                class="mx-auto"
                alt="..."
                style="max-width: 10rem;">
                <p>Adaptés</p>
        </div>
        
    </div>

    

    
</div>

{% endblock content %}
