{% extends "blog/base.html" %}
{% block content %}

<div class="homepage-header">
<div class="container">
    <p class="text-left" >Heureux celui qui...</p>
    <p class="text-center">pour aller plus vite...</p>
    <p class="text-right">sait prendre son temps.</p>
<!-- un petit js pour apparition ligne par ligne serait sympa ici-->
</div>

</div>



<div class="row homepage-text">
    <div class="col-12">
        <br>
        <p class="text-center" style="font-size: xx-large; font-weight:bolder;">
            Objectif satisfaction client </p>
        <hr>
        <p class="text-center" style="font-size: x-large; font-weight:bold"> 
            On s'engage sur votre projet si: </p>
        <br>
    </div>


    <div class="card jumping-card col-sm-12 col-md-12 col-lg-4 col-xl-4
        text-center" >
        <img src="../../../media/homepage/199063.png"

            class="card-img-top mx-auto img-fluid"
            alt="..."><!-- je ne les vois pas et dans celle de gauche le texte est plus haut-->
        <div class="card-body">
            <p class="card-text">On peut établir un projet qui vous satisfait</p>
        </div>
    </div>
    <div class="card jumping-card col-sm-12 col-md-12 col-lg-4 col-xl-4
        text-center" >
        <img src="../../../media/homepage/money.png"

            class="card-img-top mx-auto img-fluid"
            alt="...">
        <div class="card-body">
            <p class="card-text">Vous avez les moyens de vos ambitions</p>
        </div>
    </div>
    <div class="card jumping-card col-sm-12 col-md-12 col-lg-4 col-xl-4
        text-center" >
        <img src="../../../media/homepage/tools.png"
            class="card-img-top mx-auto img-fluid"
            alt="...">
        <div class="card-body">
            <p class="card-text">Nous sommes sûrs de pouvoir garantir délais,
                qualité et fonctionnalités</p>
        </div>
    </div>
    <div class="col-12">
        <br>
        <p class="text-center" style="font-size: xx-large; font-weight:bolder;">
            Clients heureux = Business florissant</p>
    </div>

</div>

<div class="row homepage-text" style="background-color: #648493; color:white">
    <div class="col-12 text-center">
        <br>
        <p>Nous mettons nos connaissances, expériences et savoir-faire à votre
            service pour créer des sites:<br><br>
        </div>


        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
            <img src="../../../media/homepage/easy_smaller_2.png"
                class="mx-auto img-fluid"
                alt="..."
               >
            <p>Simples</p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
            <img src="../../../media/homepage/change_smaller.png"
                class="mx-auto img-fluid"
                alt="..."
               >
            <p>Evolutifs</p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
            <img src="../../../media/homepage/personalized_smaller.png"
                class="mx-auto img-fluid"
                alt="..."
                >
            <p>Adaptés</p>
        </div>

    </div>




</div>

{% endblock content %}
