{% extends "blog/base.html" %}
{% block content %}

<div class="row homepage-header justify-content-md-center">
    <div class="col-md-auto justify-content-md-center">
        <p class="slogan">
            Heureux celui qui, 
            pour aller plus vite,
            sait prendre son temps. <!--Tout centré-->
        </p>
    </div>
</div>


<div class="row homepage-text-1" style="margin-top: 23rem; margin-bottom: 5rem;">
    <div class="col-12">
        <br>
        <p class="text-center" style="font-size: xx-large; font-weight:bolder; color:white; background-color:#34add1; border-radius:50%" > Objectif satisfaction client </p> 
        <p class="text-center" style="font-size: x-large; font-weight:bold" > On s'engage uniquement sur votre projet si: </p>
            <br>
        </div>


        <div class="card jumping-card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" style="max-width: 18rem;">
            <img src="../../../media/homepage/money.png"
                class="card-img-top mx-auto" 
                alt="..."><!-- je ne les vois pas et dans celle de gauche le texte est plus haut-->
            <div class="card-body">
                <p class="card-text ">On peut établir un projet qui vous satisfait</p>
            </div>
        </div>
        <div class="card jumping-card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center"style="max-width: 18rem;">
            <img src="../../../media/homepage/199063.png"
                class="card-img-top mx-auto"
                alt="...">
            <div class="card-body">
                <p class="card-text">Vous avez les moyens de vos ambitions</p>
            </div>
        </div>
        <div class="card jumping-card .col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" style="max-width: 18rem;">
            <img src="../../../media/homepage/tools.png"
                class="card-img-top mx-auto"
                alt="...">
            <div class="card-body">
                <p class="card-text">Nous sommes sûrs de pouvoir garantir délai, qualité et fonctionnalité</p>
            </div>
        </div>
        <p><br> Clients heureux = business florissant</p>
    </div>

    

    
</div>

<div class="row homepage-text-2" style="margin-bottom: 5rem;">
    <div class="col-12 text-center">
        <br>
        <p>Nous mettons nos connaissances, expériences et savoir faire à votre service pour créer des sites avec les caratéristiques suivantes <br><br>
        </div>


        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/easy.png"
                class="mx-auto"
                alt="..."
                style="min-width:150px; max-width: 10rem;">
                <p>Simples</p>
        </div>
       
        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/change.png"
                class="mx-auto"
                alt="..."
                style="max-width: 10rem;">
                <p>Evolutifs</p>
        </div>
        
        <div class=".col-sm-12 .col-md-12 .col-lg-4 .col-xl-4 text-center" >
            <img src="../../../media/homepage/personalized.png"
                class="mx-auto"
                alt="..."
                style="max-width: 10rem;">
                <p>Adaptés</p>
        </div>
        
    </div>

    

    
</div>

{% endblock content %}
