{% extends "blog/base.html" %}
{% block content %}

<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Le site web: Pour qui ? Pour quoi ?</h3>
        <p>Avoir une présence numérique est un enjeu déterminant quelle que soit la taille de votre entreprise, 
		le type de produits que vous vendez ou la zone géographique dans laquelle se trouvent vos clients. 
		Augmenter votre visibilité, vos ventes, ou simplement permettre à vos clients de vous trouver
		sont autant d'objectifs qui sont réalisables avec le site adapté.
		</p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/eye.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/responsive.png"
            alt="">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Le support: un site accessible et de qualité</h3>
        <p> Sur nos sites, le visiteur peut accéder rapidement, et depuis tout type d'équipement, à l'information
		pertinente. Nous définissons ce contenu avec vous et nous assurons de son positionement sur le site.
		Le multilangue peut également être proposé.</p>
    </div>
</div>
<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>La réalisation: un partenariat où chacun est investi et disponible.</h3>
        <p>Nous vous accompagnons pour déterminer ce dont vous avez réellement besoin.
		Nous faisons des points réguliers pour vous montrer l'avancement et nous assurer que 
		le travail correspond à vos attentes.</p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/shaking-hands.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/activity_2.jpg"
            alt=""
            style="border-radius: 10%;">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>L'actualisation: des outils simples et accessibles</h3>
        <p>Pas de logiciels à installer, accédez au site, même depuis votre smartphone, et mettez à jour vos horaires,
		annoncez une promotion, ou le dernier contrat que vous venez de signer.
        </p>
    </div>
</div>
<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Le formulaire de contact</h3>
        <p>Les visiteurs de votre site peuvent vous contacter, par une page dédiée, sur une adresse créée 
		par nos soins ou sur une adresse déjà existante</p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/mail.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/server-e.jpg"
            alt=""
            style="border-radius: 10%;">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Le conseil en hébergement</h3>
        <p>Quand nous livrons votre site internet, nous prenons en charge la mise en ligne chez un hébergeur
		qui propose des prestations adaptées à vos besoins, nous optimisons donc pour vous le rapport qualité/prix/service.
		Bien évidemment, si vous besoins changent nous ferons également évoluer votre hébergement.		
        </p>
    </div>
</div>




{% endblock content %}
