{% extends "blog/base.html" %}
{% block content %}

<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Création et référencement de votre site Internet vitrine à
            Montpellier</h3>
        <p>Un site Internet vitrine est l’équivalent virtuel de la vitrine d’un
            magasin. C'est également votre plaquette commerciale sur un support
            facilement accessible, modifiable et dont on retient facilement le
            nom grâce à votre nom de domaine.
            Au même titre que la carte de visite ou le téléphone, votre site
            Internet est un outil de communication efficace et indispensable. Il
            vous permet de parler de votre entreprise et de présenter votre
            activité, vos produits et vos services.
            Le site vitrine s’adresse à toutes les entreprises quels que soient
            leur taille ou leur secteur d’activité. Il a pour objectif de
            générer de nouveaux contacts, gagner en notoriété et crédibilité et
            enfin, maîtriser votre image.
            Nous vous proposons également des vidéos d’entreprise pour présenter
            votre activité et mettre en avant vos services ou produits. De
            l’étude du cahier des charges à la réalisation de votre site
            Internet vitrine, Cometik vous accompagne et vous conseille à chaque
            étape de la réalisation. </p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/eye.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/responsive.png"
            alt="">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Conception graphique multi-support</h3>
        <p>Votre site Internet doit être percutant et innovant. Pour ce faire,
            nous créons un site Internet sur-mesure et personnalisé, en
            adéquation avec votre image, votre activité et vos besoins. En
            concordance avec les standards du web, Cometik conçoit pour vous un
            site "responsive" (adapté au format Smartphone, Iphone et tablette).
        </p>
    </div>
</div>
<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Accompagnement et suivi</h3>
        <p>Depuis plus de 10 ans, notre travail consiste à analyser et à
            réfléchir aux différentes facettes de votre projet, afin d'orienter
            et d'adapter votre site web vitrine à vos clients et vos futurs
            clients. Nous sommes disponibles et à votre écoute pour répondre à
            vos demandes.</p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/shaking-hands.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/activity_2.jpg"
            alt=""
            style="border-radius: 10%;">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Outils de gestion
            intuitifs</h3>
        <p>Action, réaction, soyez autonomes ! Déterminez vous-même qui pourra
            gérer le contenu de votre site Internet. Pour ce faire, nous créons
            des comptes utilisateurs avec identifiants et mots de passe afin que
            vous puissiez le mettre à jour vous-même. Novatrice et simple
            d'utilisation, la console d’administration Nova vous permet
            d’ajouter des images, des vidéos et des liens sur votre site et
            Novagenda pour gérer vos rendez-vous.
        </p>
    </div>
</div>
<div class="row services">

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>E-mail et
            formulaire de contact </h3>
        <p>Lors de la création de votre site, nous créons une adresse mail ou
            mettons en place une redirection sur votre boîte mail actuelle afin
            que vous puissiez recevoir les demandes de renseignement ou de devis
            des prospects et clients, via le formulaire de contact.</p>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/mail.jpg" alt=""
            style="border-radius: 10%;">
    </div>

</div>
<div class="row services">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img class="img-fluid" src="../../../media/images/server-e.jpg"
            alt=""
            style="border-radius: 10%;">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <hr>
        <h3>Hébergement</h3>
        <p>Un site rapide sur un serveur qui tient la charge est indispensable
            aujourd’hui pour aboutir à la conversion en ligne. Afin
            d’accompagner la montée en charge de nos clients et leurs activités
            sur Internet, nous avons choisi un prestataire de qualité reconnu et
            classé parmi les 5 meilleurs hébergeurs français : Coreye. Basé dans
            la métropole lilloise, l’hébergeur Coreye fournit un service complet
            de solutions techniques pour le web, gage de sérieux qui assure à
            tous les partenaires de Cometik une base technique à toute épreuve.
        </p>
    </div>
</div>




{% endblock content %}
