
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Création logo & site internet à Toulouse - Floran PATIENCE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Profitez d'un interlocuteur unique pour l'ensemble de vos démarches de communication : création logo, flyer, site web, app mobile...">
  <meta name="author" content="Floran PATIENCE">
  <link rel="icon" href="../../../media/favicon/favicon.png"/>

	<!-- Chrome -->
	<meta name="theme-color" content="#ff4444">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#ff4444">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- CSS -->
  <link href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style_vers1.css' %}">
  <link href="/stylesheets/vendor/animate.css" rel="stylesheet">
  <link href="/stylesheets/vendor/infinite-slider.css" rel="stylesheet">
  <link href="/stylesheets/vendor/jquery.bxslider.css" rel="stylesheet">

  <!-- Google Fonts & FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400" rel="stylesheet">

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/javascript/vendor/popper.min.js"></script>
  <script src="/javascript/vendor/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
  <script src="/javascript/vendor/isotope.pkgd.min.js"></script>
  <script src="/javascript/vendor/jquery.bxslider.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/stylesheets/vendor/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Required for previews and experiments -->
  <script>
      window.prismic = {
          endpoint: 'https://perso2018.prismic.io/api/v2'
      };
  </script>
  <script>
      window.prismic = {
          endpoint: 'https://perso2018.prismic.io/api/v2'
      };
  </script>
  <script src="https://static.cdn.prismic.io/prismic.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44542447-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-44542447-1');
  </script>


</head>
<body id="" class="accueil">
<div>
  <!--<div>-->

  <!--================================================
TOP HOME / HEADER + NAV
================================================-->
  <header id="top-site"><!-- Navigation -->
<nav class="navbar navbar-expand-md">
  <div class="container" style="position:relative">
    <div class="border-logo"></div>
    <a class="navbar-brand pt-4 animsition-link" href="/"><img src="../../../media/logo-site/logo-site.png"
                                                               alt="Logo romartlou"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="border-bas nav-item ">
          <a class="nav-link animsition-link" href="/">Accueil</a>
        </li>
        <span class="separator d-none d-md-block"></span>
        <li class="border-bas nav-item ">
          <a class="nav-link animsition-link" href="/services">Mes services</a>
        </li>
        <span class="separator d-none d-md-block"></span>
        <li class="nav-item pr-0 ">
          <a class="nav-link animsition-link" href="/realisations">Réalisations</a>
        </li>
        <!-- <li class="nav-item ">
              <a class="nav-link" href="/perso2018/blog">Blog</a>
            </li> -->
        <li class="nav-item red ">
          <a class="nav-link px-3 animsition-link" href="/contact">Devis / Contact</a>
        </li>
        <li class="nav-item clearfix pl-0" id="tel">
          <div class="tel">
            <a href="tel:0649828755">06 49 82 87 55</a>
          </div>
          <a href="#" class="icon tel-toggler"><i class="fa fa-phone" aria-hidden="true"></i></a>

        </li>
      </ul>
    </div>
  </div>
</nav>  <div class="container" style="position:relative;">
    <div class="row">
      <div class="marquee">Bonjour <i class="fa fa-circle" aria-hidden="true"></i></div>      <div class="col-12">
        <div class="pres">
          <div class="wow fadeInUp" data-wow-delay="0" data-wow-duration="1s">
						<h1>Graphiste <br class="d-inline-block d-md-none"> <span class="d-none d-md-inline-block">&</span> UI/UX Designer<br><b>Freelance, Toulouse</b></h1>
          </div>
          <hr>
          <p id="typehere-home"></p>
          <script>
              $('#typehere-home').typeIt({
                  speed: 90,
                  autoStart: true,
                  loop: false,
                  loopDelay: 5000
              })
                  .tiPause(0).tiType('Je vous accompagne dans la réalisation <br class="d-none d-md-block"/> de vos projets  imprimés et digitaux.')
                  .tiPause(2500).tiSettings({speed: 60}).tiDelete().tiSettings({speed: 80}).tiPause(1000)
                  .tiType('Profitez d\'un interlocuteur unique pour <br class="d-none d-md-block"/> l\'ensemble de vos démarches de communication')
                  .tiPause(3000);
          </script>
        </div>
      </div>
    </div>
  </div>
  </header>

  <!--================================================
  RECTANGLES ARRONDIS x2
  ================================================-->

  <div id="rect-arrondis">
    <div class="container">
      <div class="border-rect"></div>
      <div class="row">
        <p class="first mx-auto">Prestataire indépendant dans la conception graphique et la création de site web riche
          et
          esthétique, je mets à disposition mes compétences et mes conseils afin de valoriser votre entreprise. <span
              class="orange">Mon objectif : votre réussite !</span></p>
      </div>
      <div class="row">
        <a href="/contact" class="second mx-auto">Demande de Devis / Contact</a>
      </div>
    </div>
  </div>

  <!--================================================
  PRESTATIONS 4 COLONNES
  ================================================-->

  <div id="prestations" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="quart-separator"></div>
          <h3><i class="fas fa-pencil-alt"></i>Identité visuelle</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i><a href="/creation-logo-toulouse" class="link_notvisible">Création et refonte de logo</a></li>
            <li><i class="fa fa-angle-right"></i>Chartes graphiques</li>
            <li><i class="fa fa-angle-right"></i>Cartes de visite</li>
            <li><i class="fa fa-angle-right"></i>Papeterie</li>
            <li class="commentary">Une identité marquante !</li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="quart-separator"></div>
          <h3><i class="fas fa-image"></i>Supports imprimés</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i>Plaquette, flyer, affiche, catalogue, dossier de presse, covering
              véhicule...
            </li>
            <li class="commentary">Déclinaison tous supports</li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="quart-separator"></div>
          <h3 class=""><i class="fa fa-desktop" aria-hidden="true"></i>Supports web</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i><a href="/creation-site-internet-toulouse" class="link_notvisible">Sites
                vitrines, blog</a></li>
            <li><i class="fa fa-angle-right"></i>Sites e-commerces</li>
            <li><i class="fa fa-angle-right"></i>Sites événementiels</li>
            <li><i class="fa fa-angle-right"></i>Applications mobiles</li>
            <li class="commentary" style="letter-spacing: -0.0035rem;">Administrable & responsive</li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="quart-separator"></div>
          <h3><i class="fas fa-chart-line"></i>Webmarketing</h3>
          <ul class="list-unstyled">
            <li style="letter-spacing: -0.028rem;"
            "><i class="fa fa-angle-right"></i>Référencement naturel (SEO)</li>
            <li><i class="fa fa-angle-right"></i>Campagnes publicitaires</li>
            <li><i class="fa fa-angle-right"></i>E-mailing</li>
            <li><i class="fa fa-angle-right"></i>Animation réseaux sociaux</li>
            <li class="commentary">Boostez votre visibilité !</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--================================================
  LAST WORK
  ================================================-->

  <div id="last-work" class="mt-xl-3">
    <div class="container">
      <div class="row" style="position: relative;">
        <div class="border-title"></div>
        <h3>Ex. réalisation</h3>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4  wow fadeInLeft" data-wow-delay="600ms">
          <div class="details">
            <div class="date">
              <h4>Date</h4>
              <p>Janvier 2016</p>
            </div>
            <div class="border-detail"></div>
            <div class="client">
              <h4>Client</h4>
              <p>Région Occitanie</p>
            </div>
            <div class="border-detail"></div>
            <div class="type">
              <h4>Type de projet</h4>
              <p>Création d’identité visuelle</p>
            </div>
            <div class="border-detail"></div>
            <div class="info">
              <h4>Info</h4>
              <p>Proposition graphique dans le cadre du concours lancé par la région Occitanie /
                Pyrénées-Méditerranée.</p>
              <p>Il s’agissait de concevoir un signe graphique contemporain tout en réinvestissant les valeurs et
                représentations graphiques historiques fortes, plurielles des régions Midi-Pyrénées et
                Languedoc-Roussillon.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8  wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
          <img class="d-block img-fluid" src="images/projets/logo-region-occitanie-floran-patience.jpg"
               alt="Logo région Occitanie">
        </div>
      </div>
    </div>
  </div>

  <!--================================================
  VALEURS AJOUTÉES
  ================================================-->

  <div id="valeur-aj" class="mt-5">
    <div class="container">
      <div class="row">
        <div class=" d-none d-lg-block col-lg-4">
          <img src="images/projets/etiquette-home.jpg" alt="etiquette création logo" class="etiquette">
        </div>
        <div class="col-12 col-lg-8">
          <h3>Ma valeur ajoutée</h3>
          <div class="border-title"></div>
          <div class="row">
            <div class="col-sm-6 mt-3">
              <p class="bold"><a href="/graphiste-toulouse" class="link_notvisible">Graphiste et Webdesigner Freelance</a>
                depuis 2010, je suis à disposition des agences, PME et
                collectivités soucieuses du design et de la qualité de leur support.
                Je les accompagne dans leur réflexion de communication et leur propose des solutions créatives adaptées
                à
                leurs objectifs.</p>
              <p>Que ce soit pour une action ponctuelle ou dans le cadre d’un projet de communication globale, j'offre
                une
                création "pertinente" adaptée à votre budget et à vos spécificités.</p>
              <p>Mon objectif est de servir votre image de façon unique et marquante. Exerçant essentiellement en
                télétravail, je me déplace volontiers pour la prise de brief et pour tout rendez-vous nécessaire au
                suivi
                de votre projet.</p>
            </div>
            <div class="col-sm-6 mt-3">
              <h5>Mon engagement :</h5>
              <ul>
                <li>Vous apporter des solutions adaptées,</li>
                <li>Vous accompagner et vous conseiller à chaque étape de votre projet,</li>
                <li>Vous fournir des réalisations de qualité avec réactivité et respect des délais.</li>
              </ul>
              <h5>Projet complexe – Approche Collaborative</h5>
              <p>En fonction de l'ampleur de votre projet, je peux vous proposer des partenaires avec qui je travaille
                régulièrement et sélectionnés pour leur rigueur : développeur, rédacteur, … ou bien travailler avec une
                équipe déjà en place.</p>
              <p>Je peux également gérer l'impression de vos supports.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--================================================
  LOGO CLIENTS
  ================================================-->

  <div id="logo-client" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 border-client"></div>
        <div class="col-12 mt-4 mb-2">
          <div class="customer-logos">
            <div class="slide"><img src="images/clients/logo-pierrefabre.png" alt="logo Pierre Fabre"></div>
            <div class="slide"><img src="images/clients/logo-meteofrance.png" alt="logo Météo France"></div>
            <div class="slide"><img src="images/clients/logo-dispofi.png" alt="logo Dispofi"></div>
            <div class="slide"><img src="images/clients/logo-c2ef.png" alt="logo Dispofi"></div>
            <div class="slide"><img src="images/clients/logo-galago.png" alt="Logo Galago"></div>
            <div class="slide"><img src="images/clients/logo-climehome.png" alt="logo climehome"></div>
            <div class="slide"><img src="images/clients/logo-myfamilyup.png" alt="logo My family up"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="footer pt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="end pl-0 pl-sm-4">Fin.</p>
                      </div>
      <div class="col-sm-6 col-lg-4 text-left right mt-4 mb-3">
        <a href="/contact" class="contact-footer wow bounceInRight" data-wow-offset="100" data-wow-delay="400ms"><i
              class="fa fa-hand-o-right pr-3" aria-hidden="true"></i>J'ai un projet</a>
        <p class="mt-5">Copyright</p>
        <p>
          © septembre 2020<br>
          Site réalisé avec <i class="fa fa-heart" aria-hidden="true"></i> par <a href="http://www.floranpatience.com">Floran
            PATIENCE</a></p>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- FIN ANIMSITION -->

<!-- CALL JS SCRIPT -->
<!--<script  type="text/javascript" src="/javascript/jquery-1.11.2.min.js"></script>-->

<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="/javascript/vendor/wow.min.js"></script>
<script type="text/javascript" src="/javascript/custom.js"></script>
<script type="text/javascript" src="/javascript/validator.min.js"></script>
<script type="text/javascript" src="/javascript/form-scripts.js"></script>


<script>
    new WOW().init();
</script>
<!--<script>-->
<!--    //Param Animsition-->
<!--    $(document).ready(function () {-->
<!--        $(".animsition").animsition({-->
<!--            inClass: 'fade-in-left-sm',-->
<!--            outClass: 'fade-out-left-sm',-->
<!--            inDuration: 800,-->
<!--            outDuration: 400,-->
<!--            linkElement: '.animsition-link',-->
<!--            // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'-->
<!--            loading: true,-->
<!--            loadingParentElement: 'body', //animsition wrapper element-->
<!--            loadingClass: 'animsition-loading',-->
<!--            loadingInner: '', // e.g '<img src="loading.svg" />'-->
<!--            timeout: false,-->
<!--            timeoutCountdown: 5000,-->
<!--            onLoadEvent: true,-->
<!--            browser: ['animation-duration', '-webkit-animation-duration'],-->
<!--            // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.-->
<!--            // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".-->
<!--            overlay: false,-->
<!--            overlayClass: 'animsition-overlay-slide',-->
<!--            overlayParentElement: 'body',-->
<!--            transition: function (url) {-->
<!--                window.location.href = url;-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

</body>
</html>